{#
/**
 * @file
 * Kuntaliitto Listing Item template.
 *
 * Available variables:
 * - attributes: content region attributes
 * - content: contains the content regions
 */
#}
<article{{ attributes.addClass('listing-item') }}>
  {{ title_suffix.contextual_links }}

  <div class="listing-item__content">
    {% if content.meta %}
      <div class="listing-item__meta">
        {{ content.meta }}
      </div>
    {% endif %}

    <h3 class="listing-item__title">
      {{ content.title }}
    </h3>

    <div class="listing-item__main">
      {{ content.main }}
    </div>
  </div>

  {% if content.keywords %}
    <div class="listing-item__keywords">
      {{ content.keywords }}
    </div>
  {% endif %}
</article>