{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
<{{ ds_content_wrapper }}{{ attributes.addClass('ds-1col', 'clearfix', 'listing-item', 'listing-item--extended') }}>

  {{ title_suffix.contextual_links }}

  <div class="listing-item__left">
    <div class="listing-item__information">
      <div class="listing-item__information__inner">
        {{ ds_content|without('field_keywords', 'field_topics', 'field_main_media') }}
      </div>
    </div>
  <div class="listing-item__keywords">
    {{ ds_content.field_topics }}
    {{ ds_content.field_keywords }}
  </div>
  </div>

{% if ds_content.field_main_media|render %}
  <div class="listing-item__right">
    <div class="listing-item__image">
      {{ ds_content.field_main_media }}
    </div>
  </div>
{% endif %}

</{{ ds_content_wrapper }}>
